# -*- mode: gitignore; -*-
*~
\#*\#
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir

# elpa packages
emacs/.emacs.d/elpa/

# eln cache
emacs/.emacs.d/eln-cache/

# tree-sitter
emacs/.emacs.d/tree-sitter/

# reftex files
*.rel

# AUCTeX auto folder
emacs/.emacs.d/auto/

# cask packages
emacs/.emacs.d/.cask/
emacs/.emacs.d/dist/

# Flycheck
flycheck_*.el

# server auth directory
emacs/.emacs.d/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
network-security.data

# undo-tree
*.~undo-tree~

# gnu stow files
#.stowrc
#.stow-local-ignore