// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "environment.kdl"
include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "startup.kdl"
include "decorations.kdl"
include "animations.kdl"
include "rules.kdl"
include "miscellaneous.kdl"
include "recent-windows.kdl"
include "binds.kdl"
