binds {
    // CONTAINS DANKMATERIALSHELL SPECIFIC KEY BINDINGS AMONG OTHER THINGS.
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Super+K { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return hotkey-overlay-title="Open a Terminal" { spawn "wezterm"; }
    Mod+Shift+F11 hotkey-overlay-title="Restart Network Manager" { spawn "systemctl" "restart" "NetworkManager"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMute        allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }

    // I don't have this on my keyboard and don't know why I'm still putting it here xD
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+Tab repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }
    
    Mod+H     { focus-column-left; }
    Ctrl+J     { focus-window-down; }
    Ctrl+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; 
    //}

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Ctrl+Page_Down { move-workspace-down; }
    Mod+Ctrl+Page_Up   { move-workspace-up; }

    // Variants
    ISO_Level3_Shift+O      { focus-workspace-down; }
    ISO_Level3_Shift+P        { focus-workspace-up; }
    ISO_Level3_Shift+Shift+O { move-column-to-workspace-down; }
    ISO_Level3_Shift+Shift+P   { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // ISO_Level3_Shift+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    ISO_Level3_Shift+Ctrl+O { move-workspace-down; }
    ISO_Level3_Shift+Ctrl+P   { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+ampersand  { focus-workspace 1; }
    Mod+eacute     { focus-workspace 2; }
    Mod+quotedbl   { focus-workspace 3; }
    Mod+apostrophe { focus-workspace 4; }
    Mod+parenleft  { focus-workspace 5; }
    Mod+minus      { focus-workspace 6; }
    Mod+egrave     { focus-workspace 7; }
    Mod+underscore { focus-workspace 8; }
    Mod+ccedilla   { focus-workspace 9; }
    Mod+agrave     { focus-workspace 10; }

    Mod+Shift+ampersand  { move-column-to-workspace 1; }
    Mod+Shift+eacute     { move-column-to-workspace 2; }
    Mod+Shift+quotedbl   { move-column-to-workspace 3; }
    Mod+Shift+apostrophe { move-column-to-workspace 4; }
    Mod+Shift+parenleft  { move-column-to-workspace 5; }
    Mod+Shift+minus      { move-column-to-workspace 6; }
    Mod+Shift+egrave     { move-column-to-workspace 7; }
    Mod+Shift+underscore { move-column-to-workspace 8; }
    Mod+Shift+ccedilla   { move-column-to-workspace 9; }
    Mod+Shift+agrave     { move-column-to-workspace 10; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+Shift+Left  { consume-or-expel-window-left; }
    Mod+Shift+Right { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
  //  Mod+Ctrl+J  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
//    Mod+Ctrl+K { expel-window-from-column; }

    Mod+M { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Shift+M { switch-preset-window-height; }
    Mod+Shift+R { reset-window-height; }
    Mod+Shift+F { maximize-column; }
    Mod+Escape { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Super+F { maximize-window-to-edges; }

    ISO_Level3_Shift+Tab { center-column; }

    // Center all fully visible columns on screen.
    //Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Left { set-column-width "-5%"; }
    Mod+Right { set-column-width "+5%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Up { set-window-height "-5%"; }
    Mod+Down { set-window-height "+5%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+T       { toggle-window-floating; }
    ISO_Level3_Shift+F { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    ISO_Level3_Shift+Z { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print hotkey-overlay-title="Take a Screenshot" { spawn "flameshot" "gui"; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // dms settings
    Super+S hotkey-overlay-title="Show Settings" { spawn "dms" "ipc" "call" "settings" "toggle";}

    // dms lockscreen
    Mod+F12 hotkey-overlay-title="Lock the Screen" { spawn "dms" "ipc" "call" "lock" "lock";}

    // idle inhibitor
    Super+I hotkey-overlay-title="Toggle inhibitor" { spawn "dms" "ipc" "call" "inhibit" "toggle";}

    // dms app launcher
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }

    // Restart dms
    Mod+Shift+B hotkey-overlay-title="Restart dms" { spawn "dms" "restart";}

    // dms wallpaper manager
    Mod+F9 hotkey-overlay-title="Next wallpaper" { spawn-sh "~/scripts/niri-wallpaper-bridge.sh next"; }
    Mod+Shift+F9 hotkey-overlay-title="Previous wallpaper" { spawn-sh "~/scripts/niri-wallpaper-bridge.sh prev"; }
    Super+W hotkey-overlay-title="Open wallpaper manager" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    Super+Shift+W hotkey-overlay-title="Syncing wallpaper" { spawn "~/scripts/niri-wallpaper-bridge.sh"; }

    // dms dashboard
    Super+D hotkey-overlay-title=null { spawn "dms" "ipc" "call" "dash" "toggle" ""; }

    // dms clipboard
    Super+V hotkey-overlay-title=null { spawn "dms" "ipc" "call" "clipboard" "toggle"; }

    // dms notifications
    Super+N hotkey-overlay-title=null { spawn "dms" "ipc" "call" "notifications" "toggle"; }

    // dms notepad
    Super+O hotkey-overlay-title=null { spawn "dms" "ipc" "call" "notepad" "toggle"; }

    // Color picker
    Super+P hotkey-overlay-title=null { spawn-sh "~/scripts/pickcolor.sh"; }
    
    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+Q hotkey-overlay-title="Show Power Menu" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Super+Delete { power-off-monitors; }
}
