// NOCTALIA SPECIFIC KEY BINDINGS
binds {
    XF86AudioRaiseVolume allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute        allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    Super+S hotkey-overlay-title="Show Settings" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "settings" "toggle";}

    Super+C hotkey-overlay-title="Control Center" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "controlCenter" "toggle";}

    Mod+F12 hotkey-overlay-title="Lock Screen" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock";}

    Super+I hotkey-overlay-title="Toggle inhibitor" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "idleInhibitor" "toggle";}

    Super+W hotkey-overlay-title="Open wallpaper Selector" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "wallpaper" "toggle"; }

    Super+V hotkey-overlay-title=null { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }

    Super+N hotkey-overlay-title=null { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "notifications" "toggleHistory"; }

    Mod+Shift+Q hotkey-overlay-title="Session Menu" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
}
