// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
//spawn-sh-at-startup "waybar --config ~/.config/waybar/niri/config --style ~/.config/waybar/niri/style.css"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
//spawn-sh-at-startup "swww-daemon"
spawn-sh-at-startup "swayidle" 
//spawn-sh-at-startup "systemctl start NetworkManager"
//spawn-sh-at-startup "~/scripts/wall.sh"
//spawn-sh-at-startup "dms run"
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "walker" "--gapplication-service"
//spawn-sh-at-startup "dunst &"
//spawn-sh-at-startup "hypridle &"

spawn-sh-at-startup "~/own/default-terminal"
spawn-sh-at-startup "emacs"
//spawn-sh-at-startup "zen-browser"
//spawn-sh-at-startup "thorium-browser"
spawn-sh-at-startup "brave"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}
