layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
          plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "{mode} #[fg=#89B4FA,bold]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""
                
                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal  "#[fg=#9eacac,bold] [{name}] "
                mode_pane  "#[fg=#cb4b16,bold] [{name}] "
                mode_tmux    "#[bg=#ffc387] [{name}] "
                mode_locked        "#[fg=#cb4b16,bold] [{name}] "
                mode_resize        "#[fg=#cb4b16,bold] [{name}] "
                mode_tab           "#[fg=#cb4b16,bold] [{name}] "
                mode_scroll        "#[fg=#cb4b16,bold] [{name}] "
                mode_enter_search  "#[fg=#cb4b16,bold] [{name}] "
                mode_search        "#[fg=#cb4b16,bold] [{name}] "
                mode_rename_tab    "#[fg=#cb4b16,bold] [{name}] "
                mode_rename_pane   "#[fg=#cb4b16,bold] [{name}] "
                mode_session       "#[fg=#cb4b16,bold] [{name}] "
                mode_move          "#[fg=#cb4b16,bold] [{name}] "
                mode_prompt        "#[fg=#cb4b16,bold] [{name}] "

                tab_normal   "#[fg=#6C7086] {index}:{name} "
                tab_active   "#[fg=#9399B2,bold,italic] {index}:{name} "

                // formatting for inactive tabs
                tab_normal_fullscreen   "#[fg=#6C7086] {index}:{name} [] "
                tab_normal_sync         "#[fg=#6C7086] {index}:{name} <> "

                // formatting for the current active tab
                tab_active_fullscreen   "#[fg=#9399B2,bold,italic] {index}:{name} {fullscreen_indicator}"
                tab_active_sync         "#[fg=#9399B2,bold,italic] {index}:{name} {sync_indicator}"

                // separator between the tabs
                //tab_separator           "#[fg=#6C7086,bg=#181825] | "

                // format when renaming a tab
                //tab_rename              "#[fg=#eba0ac,bg=#181825] {index} {name} {floating_indicator} "

                // indicators
                tab_sync_indicator       "<> "
                tab_fullscreen_indicator "[] "
                tab_floating_indicator   "⬚ "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
            }
        }
    }
}
