binds {
    Mod+Space hotkey-overlay-title="Application Launcher" { 
        spawn "dms" "ipc" "call" "spotlight" "toggle"; 
    }

    Super+V hotkey-overlay-title="Clipboard Manager" { 
        spawn "dms" "ipc" "call" "clipboard" "toggle"; 
    }

    Super+S hotkey-overlay-title="Settings" { 
        spawn "dms" "ipc" "call" "settings" "toggle"; 
    }

    Super+N hotkey-overlay-title="Notification Center" {
        spawn "dms" "ipc" "call" "notifications" "toggle"; 
    }

    Super+W hotkey-overlay-title="Browse Wallpapers" {
        spawn "dms" "ipc" "call" "dankdash" "wallpaper";
    }

    Mod+F9 hotkey-overlay-title="Next wallpaper" { spawn "dms" "ipc" "call" "wallpaper" "next"; }
    
    Mod+Shift+F9 hotkey-overlay-title="Previous wallpaper" { spawn "dms" "ipc" "call" "wallpaper" "prev"; }

    Super+D hotkey-overlay-title=null { spawn "dms" "ipc" "call" "dash" "toggle" ""; }
    
    Super+Shift+N hotkey-overlay-title="Notepad" {
      spawn "dms" "ipc" "call" "notepad" "toggle";  
    }
    
    Mod+F12 hotkey-overlay-title="Lock Screen" { 
        spawn "dms" "ipc" "call" "lock" "lock"; 
    }
    
    Super+I hotkey-overlay-title="Toggle inhibitor" { spawn "dms" "ipc" "call" "inhibit" "toggle";}

    Mod+Shift+Q hotkey-overlay-title="Show Power Menu" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }

    // Audio
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "3";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "3";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }
    
    // BL
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
    }  
}
